/node_modules
/coverage
*.iml
!/test/fixtures/project1/node_modules/
!/test/fixtures/moduleWithDeps/node_modules/
!/test/fixtures/moduleWithDeps/node_modules/dep2/node_modules/
!/test/fixtures/moduleWithDeps/dir/node_modules/
